* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

ul {
  list-style-type: none;
  background-color: #333;
  width: 100%;
  overflow: hidden;
}

ul li {
  float: left;
}
ul li a {
  color: white;
  text-decoration-line: none;
  padding: 14px 16px;
  display: inline-block;
}

.active {
  background-color: red;
}

a:hover:not(.active) {
  background-color: #111;
}
