<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout 1</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="header">
        <h1>Header</h1>
      </div>
      <div class="nav-bar">
        <h1>Nav Bars</h1>
      </div>
      <article class="left-content">
        <h1>Left Content</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam nihil
          mollitia quis, praesentium deleniti consequuntur perferendis molestias
          veritatis reiciendis! Facere repellat saepe tempore accusamus
          consequatur harum qui tenetur nostrum quisquam sunt voluptate mollitia
          possimus illo excepturi praesentium
        </p>
      </article>
      <aside class="asside asside1">
        <h1>Right Content</h1>
      </aside>
      <footer class="footer">
        <h1>Footer Content</h1>
      </footer>
    </div>
  </body>
</html>
